.puzzleWrapper {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.puzzleContainer {
  flex: 1;
  max-width: 600px;
}
