.refreshButton {
  align-self: flex-end;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 6px;
  width: 44px;

  svg {
    margin: 0 auto;
    height: 16px;
    width: 16px;
  }

  @media (min-width: 480px) {
    width: auto;
  }
}
