.puzzle {
  background: #eaf6ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 260px;
  padding: 16px;
  width: auto;
}

.responsive {
  max-width: 100%;
  aspect-ratio: var(--puzzle-aspect-ratio, 1);

  // Ensure the board fills the container
  & > * {
    width: 100%;
    height: auto;
  }

  .settingsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
