.puzzle {
  background: #eaf6ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding: 16px;
  width: auto;
}

.responsive {
  aspect-ratio: var(--puzzle-aspect-ratio, 1);
  max-width: 100%;

  & > * {
    height: auto;
    width: 100%;
  }
}
.settingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
