.timer {
  display: flex;
  align-self: flex-end;
  border-radius: 4px;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  margin-right: 6px;

  @media (min-width: 480px) {
    align-self: center;
    border: 1px solid red;
  }
}
