.rowsAndColumns {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: flex-start;
  text-transform: uppercase;

  @media (min-width: 480px) {
    flex-direction: row;
  }

  label {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    gap: 4px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 3px;
    margin-right: 12px;
  }

  input[type='text'] {
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    border-radius: 0;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  input[type='submit'] {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    margin-top: 4px;
    text-transform: uppercase;
    width: 76px;

    &:disabled {
      opacity: 0.5;
      cursor: unset;
    }
  }

  @media (min-width: 480px) {
    align-self: flex-end;
    margin-top: 0;
    width: 24px;
  }
}
