.puzzlePiece {
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }

  &:focus {
    outline: none;
    path {
      filter: drop-shadow(0 0 6px currentColor) drop-shadow(0 0 12px currentColor);
    }
  }
}
